name: {{ etcd_name }}
data-dir: {{ etcd_data_dir }}
listen-peer-urls: http://0.0.0.0:{{ etcd_peer_port }}
listen-client-urls: http://0.0.0.0:{{ etcd_client_port }}
initial-advertise-peer-urls: http://{{ inventory_hostname }}:{{ etcd_peer_port }}
advertise-client-urls: http://{{ inventory_hostname }}:{{ etcd_client_port }}
initial-cluster: {% for host in groups['etcd'] %}{{ hostvars[host].etcd_name }}=http://{{ host }}:{{ etcd_peer_port }}{% if not loop.last %},{% endif %}{% endfor %}

initial-cluster-token: {{ etcd_cluster_token }}
initial-cluster-state: new

auto-compaction-retention: "1"
quota-backend-bytes: -1
