virt_dir = "/opt/yavirtd"
virt_bridge = "yavirbr0"

log_file = "/opt/yavirtd/log/yavirtd.log"

calico_pools = ["{{ calico_ippool_name }}"]

etcd_prefix = "/yavirt-dev/v1"
etcd_endpoints = {{ etcd_endpoints.split(',') }}

core_addr = "{{ core_host }}:5001"
core_username = ""
core_password = ""
core_status_check_interval = "64s"
