bind: ":{{ core_port }}"
lock_timeout: 30s
global_timeout: 300s
connection_timeout: 10s
ha_keepalive_interval: 16s
max_concurrency: 100000
store: etcd

log:
  level: {{ core_log_level }}

grpc:
  max_concurrent_streams: 100
  max_recv_msg_size: 20971520
  service_discovery_interval: 15s
  service_heartbeat_interval: 15s

etcd:
  machines:
{% for host in groups['etcd'] %}
    - "http://{{ host }}:{{ etcd_client_port }}"
{% endfor %}
  prefix: "/eru"
  lock_prefix: "__lock__/eru"

ssh:
  private_key: {{ eru_ssh_key }}
  user: {{ eru_ssh_user }}

containerd:
  socket: {{ core_containerd_socket }}
  namespace: {{ core_containerd_namespace }}

process:
  root: {{ core_process_root }}
  stop_timeout: 10s
{% if groups['node_cocoon'] | default([]) | length > 0 %}

cocoon:
  binary: {{ core_cocoon_binary }}
  root: {{ core_cocoon_record_root }}
  run_dir: {{ core_cocoon_run_dir }}
  cgroup_parent: {{ core_cocoon_cgroup_parent }}
{% endif %}

scheduler:
  maxshare: -1
  sharebase: 100
  max_deploy_count: {{ core_max_deploy_count }}

resource_plugin:
  dir: {{ core_plugin_dir }}
  call_timeout: {{ core_plugin_call_timeout }}
{% if core_registry_hub %}

registry:
  hub: "{{ core_registry_hub }}"
  namespace: "{{ core_registry_namespace }}"
{% if core_registry_plain_http %}
  plain_http:
{% for host in core_registry_plain_http %}
    - "{{ host }}"
{% endfor %}
{% endif %}
{% endif %}
{% if core_build_pod %}

build:
  node_filter:
    podname: {{ core_build_pod }}
{% endif %}
