bind: ":{{ core_port }}"
lock_timeout: 30s
global_timeout: 300s
connection_timeout: 10s
store: etcd
wal_file: {{ core_config_dir }}/core.wal

log:
    level: info

etcd:
    machines:
{% for host in groups['etcd'] %}
        - http://{{ host }}:2379
{% endfor %}
    prefix: "/eru"
    lock_prefix: "__lock__/eru"

docker:
    version: "1.32"
    network_mode: "bridge"
    use_local_dns: true
    log:
        type: "json-file"
        config:
            "max-size": "10m"
    hub: "docker.io"
    namespace: "projecteru2"
    build_pod: "{{ eru_pod }}"

scheduler:
    maxshare: -1
    sharebase: 100
    max_deploy_count: 10000
