log_level: DEBUG
bind: ":5001"
statsd: "127.0.0.1:8125"
global_timeout: 300s
lock_timeout: 30s

etcd:
    machines:
{% for host in groups['etcd'] %}
        - http://{{ host }}:2379
{% endfor %}
    prefix: "/eru-core"
    lock_prefix: "core/_lock"

docker:
    log:
      type: "json-file"
      config:
        "max-size": "10m"
    network_mode: "bridge"
    cert_path: ""
    hub: "hub.docker.com"
    namespace: "projecteru2"
    build_pod: "eru"
    local_dns: true

scheduler:
    maxshare: -1
    sharebase: 100
