pid: /run/eru-agent.pid

core:
  - "{{ core_host }}:{{ core_port }}"

store: grpc
heartbeat_interval: {{ node_process_heartbeat_interval }}

runtimes:
  systemd: {}

meta_dir: {{ node_process_meta_dir }}
state_dir: {{ node_process_state_dir }}

api:
  addr: {{ node_process_agent_api_addr }}

metrics:
  step: 10

log:
  stdout: false

healthcheck:
  interval: {{ node_process_healthcheck_interval }}
  timeout: 10
  cache_ttl: 300

global_connection_timeout: 15s
